---
import { getCollection } from "astro:content";
import "../../styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";

const publishedBlogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
const tags = [...new Set(publishedBlogPosts.map(post => post.data.tags).flat())];
---

<MainLayout title="Coffee and State Sync" description="Tag Index">
  <article class="mx-auto max-w-screen-sm px-5 py-4">
    <h2>Tag Index &#x1F3F7&#xFE0F</h2>
    <ul class="flex flex-wrap items-center space-x-4 not-prose">
      {tags.map(tag => (<li><a href=`/tags/${tag}`>{tag}</a></li>))}
    </ul>
  </article>
</MainLayout>
