---
import "../styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="404 Not Found" description="Not Found">
  <article class="mx-auto max-w-screen-sm px-5">
    <h2><samp>404 Not Found</samp></h2>
    <blockquote>In the meanwhile grab a cup of coffee &#x2615</blockquote>
  </article>
</MainLayout>
