---
import "../styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";
import Section from "@components/Section.astro";
---

<MainLayout title="404 Not Found" description="Not Found">
  <Section title="404 Not Found &#x1F61E">
    <p>In the meanwhile grab a cup of coffee &#x2615<p>
  </Section>
</MainLayout>
