---
import { type CollectionEntry, getCollection } from "astro:content";

import "../styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";
import PostCard from "@components/PostCard.astro";

const allPosts = await getCollection("posts");
const publishedPosts = allPosts.filter(({ data }) => !data.draft);

// This is more efficient but does not work in CI
// const postsByYear = Object.groupBy(
//   publishedPosts,
//   ({ data }) => data.publication.getFullYear()
// );

type Acc = {
  [year: number]: CollectionEntry<"posts">[];
}

const postsByYear = publishedPosts.reduce((acc: Acc, post: CollectionEntry<"posts">) => {
  const year = post.data.publication.getFullYear();
  (acc[year] = acc[year] || []).push(post);
  return acc;
}, {});

const years = Object.keys(postsByYear).sort().reverse();
---

<MainLayout title="Coffee & State Sync" description="List of Blog Posts">
  <article class="mx-auto max-w-screen-sm px-5 py-4">
    <h1>Posts</h1>
    {years.length == 0 && 
     <blockquote>Wow! Feels so empty in here &#x1F47B<blockquote>}
    {
      years.map((year: any) => (
        <section>
        <h2>{year}</h2>
        <ul class="not-prose flex flex-col gap-4">
        { 
          postsByYear[year].map((post: any) => (
            <PostCard
              url={`/posts/${post.slug}`} 
              title={post.data.title}
              description={post.data.description}
            />
          ))
        }
        </ul>
        </section>
      ))
    }
  </article>
</MainLayout>
