---
import { getCollection } from "astro:content";
import "../styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";

const allPosts = await getCollection("posts");
---

<MainLayout title="My blog" description="List of all blog posts">
    {allPosts.map(post => (<a href={`/posts/${post.slug}/`}>{post.data.title}</a>))}
</MainLayout>
