---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Miguel's Homepage</title>
	</head>
	<body>
		<h1>Hey There!</h1>
		<p>Hi, I'm Miguel. I'm a Software engineer based in Porto, Portugal.</p>
	</body>
</html>
