---
---

<footer class="mx-auto max-w-screen-sm px-5 border-t border-neutral-800">
  <div class="flex items-center justify-between w-full py-1">
    <p class="text-center">&copy; {new Date().getFullYear()} | Miguel Rodrigues</p>
  </div>
</footer>
