---
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-sm border-t border-neutral-800">
  <div class="flex items-center justify-between w-full">
    <p class="text-center">&copy; {year} - mbrdg</p>
  </div>
</footer>
