---
import Navigation from "@components/Navigation.astro";
---

<header class="
  flex items-center justify-between
  my-6 mx-auto max-w-screen-sm
">
  <h1>Coffee &amp; State Sync</h1>
  <Navigation />
</header>
