---
import Navigation from "@components/Navigation.astro";
---

<header class="flex items-center justify-between my-6 mx-auto max-w-screen-sm px-5">
  <h1>Coffee &amp; State Sync</h1>
  <Navigation />
</header>
