---
---

<nav>
  <ul class="flex items-center justify-center space-x-4">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Posts</a></li>
      <li><a href="/resume.pdf">Resume</a></li>
  </ul>
</nav>
